.container {
    display: flex;
    justify-content: flex-end;
}
.header_links {
    display: inline-flex;
    list-style-type: none;
}
.header_links > li > a{
    margin: 5px 10px;
    font-size: 20px;
    text-transform: uppercase;
    
}
.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery {
    display:flex;
    margin: 5px 10px;
}
.photos {
    display: flex;
    flex-wrap:wrap;
    }
.photos > img {
    width: 400px;
    height: 400px;
    margin: 5px auto;
}
.cards {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items:center;
}

.element {
    width: 200px;
    height: 150px;
    border: 1px solid red;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;  
    justify-content: center;    

}

.footer {
    display: flex;
    align-content: center;
    justify-content: center;
        
}
.foot {
    padding: 2px 10px;
    justify-content: center;
    display:flex;
     border: 1px solid black;
    color: black;
}
.company {
    flex-grow: 2;
}

